<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PHQBS.example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <!-- 用户信息的操作处理-->
  <servlet>
    <servlet-name>account_info</servlet-name>
    <servlet-class>cn.controller.CCheckAccountinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>account_info</servlet-name>
    <url-pattern>/account_info</url-pattern>
  </servlet-mapping>
  <!-- 站点信息的操作处理-->
  <servlet>
    <servlet-name>node_info</servlet-name>
    <servlet-class>cn.controller.CCheckNodeinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>node_info</servlet-name>
    <url-pattern>/node_info</url-pattern>
  </servlet-mapping>
  <!-- 回收员信息的操作处理-->
  <servlet>
    <servlet-name>driver_info</servlet-name>
    <servlet-class>cn.controller.CCheckDriverinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>driver_info</servlet-name>
    <url-pattern>/driver_info</url-pattern>
  </servlet-mapping>
  <!-- 回收单信息的操作处理-->
  <servlet>
    <servlet-name>delivery_info</servlet-name>
    <servlet-class>cn.controller.CCheckDeliveryinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delivery_info</servlet-name>
    <url-pattern>/delivery_info</url-pattern>
  </servlet-mapping>
  <!-- 商品信息的操作处理-->
  <servlet>
    <servlet-name>good_info</servlet-name>
    <servlet-class>cn.controller.CCheckGoodinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>good_info</servlet-name>
    <url-pattern>/good_info</url-pattern>
  </servlet-mapping>
  <!-- collection -->
  <servlet>
    <servlet-name>collection_info</servlet-name>
    <servlet-class>cn.controller.CCheckCollectioninfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>collection_info</servlet-name>
    <url-pattern>/collection_info</url-pattern>
  </servlet-mapping>
  <!-- 进行网络聊天的 -->
  <servlet>
    <servlet-name>weixintalk_info</servlet-name>
    <servlet-class>cn.controller.CCheckWeixintalkinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weixintalk_info</servlet-name>
    <url-pattern>/weixintalk_info</url-pattern>
  </servlet-mapping>
</web-app>